<div class="mb-3 card h-100 p-3 mx-auto" >
  <h3 class="font-alt fw-bold fs-2 fst-italic text-color-mute text-font-cursive">
    {{ Event.Name }}
  </h3>
  <span class="border-secondary sep-line"></span>
  <div class="card-body h-100%">
<div class="mb-3 d-flex justify-content-center">
  <img [src]="'../../../assets/img/clientImages/' + Event.img " alt="" class="img-fluid border rounded-circle mx-auto pb-3 
  border-dark border-3 round-image">
</div>
    <!-- <p class="mb-4 text-color ">
      {{ Event.Desc }}
    </p> -->
    <div class="align-items-center d-flex mb-3">
      <span class="icon-svg me-4  col-1"><img src="../../../assets/img/web-page-asset/icon-wedding-calendar.svg" class="img-fluid" alt=""/></span>
      <span class="text-color col-11">
        {{ Event.date | date : "fullDate" }}
        <br />
        {{ Event.time }}
      </span>
    </div>

    <div class="align-items-center d-flex mb-4">
      <span class="icon-svg me-4 col-1"
        ><img [src]="'./../../assets/img/web-page-asset/'+ Event.iconUrl" alt=""class="img-fluid" 
      /></span>
      <span class="text-color">
        {{ Event.place }}<br />
        {{ Event.location }}
      </span>
    </div>
  </div>
  <div class="d-flex my-auto justify-content-between">
    <button
      type="button"
      class="btn btn-outline-light fs-9 ls-1 me-3 text-color-mute"
      (click)="onClickhow()">
      How To Get There
    </button>
    <a
      [href]="Event.mapsLocation"
      class="page-scroll btn border-0 fs-9 ls-1 text-decoration-underline text-color-mute"
      target="_blank"
      >View Map</a
    >
  </div>
</div>