<div class="container vh-100 padding-section" id="the-couple">
<div class="row mb-5">
    <div class="col-12 text-center">
        <h2 class=" text-center mt-4 fs-2  fw-bolder text-uppercasea"> The Happy couple</h2>
        <p class="font-alt fs-5 fst-italic text-muted">A happy marriage is the union of two good forgivers.</p>    
        <span class="section-divider"></span>
    </div>
</div>
<div class="row justify-content-center">
    <div class=" col-lg-6 mb-5 mb-lg-0 bride">
        <app-couple-card [person] ="groom" class="d-block"> </app-couple-card>
    </div>
    <div class=" col-lg-6 mb-5 mb-lg-0 groom">
        <app-couple-card [person] ="bride" class="d-block"> </app-couple-card>

    </div>

</div>
</div>

