<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-8">
      <div class=" mb-3 mb-md-0 position-relative bor-style">
        <img class="img-fluid " [src]="person.img" alt="" />
        <span
          class="bg-secondary bottom-0 end-0 font-alt fst-italic m-3 position-absolute px-3 py-2 rounded text-white">
          {{ person.gender == "Bride" ? "The Bride" : "The Groom" }}
        </span>
        <span class="img-outer"></span>
      </div>
    </div>
    <div class="col-10 col-md-6 text-center text-md-start">
        <h5 class="font-alt fw-bold text-uppercase text-color mb-1">{{person.name}}</h5>
        <!-- <p class="font-alt fst-italic text-color-mute">I kind of have a thing for {{ person.gender == "Bride" ? "her" : "him" }} </p> -->
        <hr class="border-secondary mx-auto mx-md-0 sep-line">
        <p class="m-0 text-color my-md-3 my-1">{{person.desc}}</p>
        </div>
  </div>
</div>
