<div class="modal-dialog">
  <div class="modal-content rounded">
    <div class="modal-header justify-content-center">
      <h3 class="modal-title fs-4 font-alt fw-bold text-uppercase">
        How To Get To The Events
      </h3>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"
      ></button>
    </div>

    <div class="modal-body p-lg-4">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="mb-4 text-center">
            <h4 class="font-alt fs-5 fw-bold text-primary text-uppercase">
              Haldi / Sangeet / Shaadi
            </h4>
            <p class="font-alt fst-italic text-muted">(Balaji Residency)</p>
          </div>

          <div class="mb-4">
            <h6 class="fw-bold ls-1 text-uppercase  text-primary">By flight</h6>
            <hr class="border-secondary my-2 sep-line" />
            <div class="mb-2">
              <span class="ls-1">
                Nearest Airport -
              </span>
              <span class="text-muted"> Surat, Mumbai, Pune</span>
            </div>
            <p class="m-0  text-muted">
              Flight to Mumbai/Pune/Surat, overnight bus/train journey to Shahada.
            </p>
          </div>
          <div class="mb-4">
            <h6 class="fw-bold ls-1 text-uppercase  text-primary">By Train</h6>
            <hr class="border-secondary my-2 sep-line" />
            <div class="mb-2">
              <span class="ls-1">
                Nearest Railway station -
              </span>
              <span class="text-muted"> Nandurbar, Dondaicha</span>
            </div>
            <p class="m-0 text-muted">
              Train to Nandurbar/Dondaicha, private transport to Shahada.
            </p>
          </div>
          <div class="mb-4">
            <h6 class="fw-bold ls-1 text-uppercase  text-primary">By Bus</h6>
            <hr class="border-secondary my-2 sep-line" />
            
            <div class="mb-2">
              <span class="ls-1">
                Nearest Bus station -
              </span>
              <span class="text-muted"> Shahada</span>
            </div>
            <p class="m-0 text-muted">
              Mumbai/Pune - Luxury buses will be available. For all other locations, state transport buses are available.
            </p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="mb-4 text-center">
            <h4 class="font-alt fs-5 fw-bold text-primary text-uppercase">
              The Reception
            </h4>
            <p class="font-alt fst-italic text-muted">(Deep Party Plot)</p>
          </div>

          <div class="mb-4">
            <h6 class="fw-bold ls-1 text-uppercase  text-primary">By flight / train / bus</h6>
            <hr class="border-secondary my-2 sep-line" />
            <p class="m-0 text-muted">
              Direct flight, train, bus to Baroda.
            </p>
          </div>
        </div>
      </div>

      <div class="modal-footer ">
        <button
          class="btn fs-9 w-100"
          aria-label="Close"
          (click)="activeModal.dismiss('Cross click')"
        >
          Okay, I get it!
        </button>
      </div>
    </div>
  </div>
</div>
