<div class="min-vh-100 padding-section " id="photos" >
<div class="container position-relative">
  <div class="row mb-5 pb-lg-5">
    <div class="col-12 text-center">
      <h2 class="font-alt fs-3 fw-bold text-uppercase text-color">Photo Gallery</h2>
      <p class="font-alt fs-5 fst-italic text-color-mute">
        May you live as long as you wish and love as long as you live.
      </p>
      <span class="section-divider divider-primary"></span>
    </div>
  </div>
  
  <div class="row honeycomb">
    <li class="honeycomb-cell">
      <img class="honeycomb-cell__image  img-1" src="../../assets/img/clientImages//gallery-1.jpeg">
    </li>

    <li class="honeycomb-cell">
      <img class="honeycomb-cell__image img-2" src="../../assets/img/clientImages//gallery-2.jpeg">
    </li>

    <li class="honeycomb-cell">
      <img class="honeycomb-cell__image img-3" src="../../assets/img/clientImages//gallery-3.jpeg">
    </li>

    <li class="honeycomb-cell">
      <img class="honeycomb-cell__image img-4" src="../../assets/img/clientImages//gallery-4.jpeg">
    </li>

    <li class="honeycomb-cell">
      <img class="honeycomb-cell__image img-5" src="../../assets/img/clientImages//gallery-5.jpeg">
    </li>

    <li class="honeycomb-cell">
      <img class="honeycomb-cell__image img-6" src="../../assets/img/clientImages//gallery-6.jpeg">
    </li>

    <li class="honeycomb-cell">
      <img class="honeycomb-cell__image img-7" src="../../assets/img/clientImages//gallery-7.jpeg">
    </li>
  
  </div>


</div>
</div>