<div class="container min-vh-100 padding-section" id="love-story">
    <div class="container">
        <div class="row mb-5 pb-lg-5">
            <div class="col-12 text-center">
                <h2 class="font-alt fs-3 fw-bold text-uppercase text-color">Our Love Story</h2>
                <p class="font-alt fs-5 fst-italic text-color-mute">
                    There is only one happiness in this life, to love and be loved.
                </p>
                <span class="section-divider divider-primary"></span>
            </div>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>


            </div>
            <div class="carousel-inner">
              <div class="carousel-item active ">
                 <div class="align-items-center g-0 justify-content-center justify-content-lg-between row">
                    <div class="col-md-6 col-lg-5 mb-5 mb-lg-0">
                            <img src="../../assets/img/clientImages/gallery-1.jpeg" alt class="img-fluid" />
                    </div>
                    <div class="col-lg-6 text-center text-lg-start">
                        <h4 class="font-alt text-color">First Meet Each Other</h4>
                        <hr class="border-secondary mx-auto mx-lg-0 sep-line text-color-mute" />
                        <p class="text-color-mute">
                            Milea and Dilan met the modern way: by swiping right on Tinder in
                            2021. Their first date was a bit of a disaster-it started pouring
                            while they were enjoying their outdoor dinner, Dilan fell into a
                            mud puddle, and they had to wait over an hour for a subway train.
                            However, their second date went much better and they've been
                            together ever since.
                        </p>
                        <p class="m-0 text-color-mute">
                            There are many variations of passages of Lorem Ipsum available,
                            but the majority have suffered alteration in some form, by
                            injected humour, or randomised words which don't look even
                            slightly believable.
                        </p>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="align-items-center g-0 justify-content-center justify-content-lg-between row">

                    <div class="col-md-8 col-lg-5 mb-5 mb-lg-0">
                        <div class="img-clip-path clip-love-story position-relative">
                            <img src="../../assets/img/clientImages/gallery-2.jpeg" alt class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-lg-6 text-center text-lg-start">
                        <h4 class="font-alt text-color">When We Go Out Together</h4>
                        <hr class="border-secondary mx-auto mx-lg-0 sep-line" />
                        <p class="text-color-mute">
                            Lorem Ipsum has been the industry's standard dummy text ever since
                            the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.
                        </p>
                        <p class="m-0 text-color-mute">
                            There are many variations of passages of Lorem Ipsum available,
                            but the majority have suffered alteration in some form, by
                            injected humour, or randomised words which don't look even
                            slightly believable. If you are going to use a passage of Lorem
                            Ipsum, you need to be sure there isn't anything embarrassing
                            hidden in the middle of text.
                        </p>
                    </div>
                </div>

              </div>
              <div class="carousel-item">
                <div class="align-items-center g-0 justify-content-center justify-content-lg-between row">

                    <div class="col-md-8 col-lg-5 mb-5 mb-lg-0">
                        <div class="img-clip-path clip-love-story position-relative">
                            <img src="../../assets/img/clientImages/gallery-3.jpeg" alt class="img-fluid" />
                        </div>
                    </div>

                    <div class="col-lg-6 text-center text-lg-start">
                        <h4 class="font-alt text-color">Have a Lovely Time</h4>
                        <hr class="border-secondary mx-auto mx-lg-0 sep-line" />
                        <p class="text-color-mute">
                            Lorem Ipsum has been the industry's standard dummy text ever since
                            the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.
                        </p>
                        <p class="m-0 text-color-mute">
                            There are many variations of passages of Lorem Ipsum available,
                            but the majority have suffered alteration in some form, by
                            injected humour, or randomised words which don't look even
                            slightly believable. If you are going to use a passage of Lorem
                            Ipsum, you need to be sure there isn't anything embarrassing
                            hidden in the middle of text.
                        </p>
                    </div>
                </div>

              </div>
              <div class="carousel-item">
                <div class="align-items-center g-0 justify-content-center justify-content-lg-between row">

                    <div class="col-md-8 col-lg-5 mb-5 mb-lg-0">
                        <div class="img-clip-path clip-love-story position-relative">
                            <img src="../../assets/img/clientImages/gallery-4.jpeg" alt class="img-fluid" />
                        </div>
                    </div>

                    <div class="col-lg-6 text-center text-lg-start">
                        <h4 class="font-alt text-color">We Fall in Love Each Other</h4>
                        <hr class="border-secondary mx-auto mx-lg-0 sep-line" />
                        <p class="text-color-mute">
                            Lorem Ipsum has been the industry's standard dummy text ever since
                            the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.
                        </p>
                        <p class="m-0 text-color-mute">
                            There are many variations of passages of Lorem Ipsum available,
                            but the majority have suffered alteration in some form, by
                            injected humour, or randomised words which don't look even
                            slightly believable. If you are going to use a passage of Lorem
                            Ipsum, you need to be sure there isn't anything embarrassing
                            hidden in the middle of text.
                        </p>
                    </div>
                </div>

              </div>
              <div class="carousel-item">
                <div class="align-items-center g-0 justify-content-center justify-content-lg-between row">

                    <div class="col-md-8 col-lg-5 mb-5 mb-lg-0">
                        <div class="img-clip-path clip-love-story position-relative">
                            <img src="./../assets/img/clientImages/gallery-5.jpeg" alt class="img-fluid" />
                        </div>
                    </div>

                    <div class="col-lg-6 text-center text-lg-start">
                        <h4 class="font-alt text-color">We Decide to Live Together</h4>
                        <hr class="border-secondary mx-auto mx-lg-0 sep-line" />
                        <p class="text-color-mute">
                            Lorem Ipsum has been the industry's standard dummy text ever since
                            the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.
                        </p>
                        <p class="m-0 text-color-mute">
                            There are many variations of passages of Lorem Ipsum available,
                            but the majority have suffered alteration in some form, by
                            injected humour, or randomised words which don't look even
                            slightly believable. If you are going to use a passage of Lorem
                            Ipsum, you need to be sure there isn't anything embarrassing
                            hidden in the middle of text.
                        </p>
                    </div>

                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>  

        <!-- <div class="row">
            <div id="carousel-love-story" class="carousel slide mb-4" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item   align-items-center g-0 justify-content-center justify-content-lg-between row">

                        <div class="col-md-8 col-lg-5 mb-5 mb-lg-0">
                            <div class="img-clip-path clip-love-story position-relative">
                                <img src="images/love-story-1.jpg" alt class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-lg-6 text-center text-lg-start">
                            <h4 class="font-alt text-color">First Meet Each Other</h4>
                            <hr class="border-secondary mx-auto mx-lg-0 sep-line text-color-mute" />
                            <p class="text-color-mute">
                                Milea and Dilan met the modern way: by swiping right on Tinder in
                                2021. Their first date was a bit of a disaster-it started pouring
                                while they were enjoying their outdoor dinner, Dilan fell into a
                                mud puddle, and they had to wait over an hour for a subway train.
                                However, their second date went much better and they've been
                                together ever since.
                            </p>
                            <p class="m-0 text-color-mute">
                                There are many variations of passages of Lorem Ipsum available,
                                but the majority have suffered alteration in some form, by
                                injected humour, or randomised words which don't look even
                                slightly believable.
                            </p>
                        </div>
                    </div>

                    <div  class=" carousel-item  carousel-cell align-items-center g-0 justify-content-center justify-content-lg-between row">
                        <div class="col-md-8 col-lg-5 mb-5 mb-lg-0">
                            <div class="img-clip-path clip-love-story position-relative">
                                <img src="images/love-story-2.jpg" alt class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-lg-6 text-center text-lg-start">
                            <h4 class="font-alt text-color">When We Go Out Together</h4>
                            <hr class="border-secondary mx-auto mx-lg-0 sep-line" />
                            <p class="text-color-mute">
                                Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s, when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book.
                            </p>
                            <p class="m-0 text-color-mute">
                                There are many variations of passages of Lorem Ipsum available,
                                but the majority have suffered alteration in some form, by
                                injected humour, or randomised words which don't look even
                                slightly believable. If you are going to use a passage of Lorem
                                Ipsum, you need to be sure there isn't anything embarrassing
                                hidden in the middle of text.
                            </p>
                        </div>
                    </div>

                    <div class=" carousel-item  carousel-cell align-items-center g-0 justify-content-center justify-content-lg-between row">
                        <div class="col-md-8 col-lg-5 mb-5 mb-lg-0">
                            <div class="img-clip-path clip-love-story position-relative">
                                <img src="images/love-story-3.jpg" alt class="img-fluid" />
                            </div>
                        </div>

                        <div class="col-lg-6 text-center text-lg-start">
                            <h4 class="font-alt text-color">Have a Lovely Time</h4>
                            <hr class="border-secondary mx-auto mx-lg-0 sep-line" />
                            <p class="text-color-mute">
                                Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s, when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book.
                            </p>
                            <p class="m-0 text-color-mute">
                                There are many variations of passages of Lorem Ipsum available,
                                but the majority have suffered alteration in some form, by
                                injected humour, or randomised words which don't look even
                                slightly believable. If you are going to use a passage of Lorem
                                Ipsum, you need to be sure there isn't anything embarrassing
                                hidden in the middle of text.
                            </p>
                        </div>
                    </div>

                    <div class=" carousel-item  carousel-cell align-items-center g-0 justify-content-center justify-content-lg-between row">
                        <div class="col-md-8 col-lg-5 mb-5 mb-lg-0">
                            <div class="img-clip-path clip-love-story position-relative">
                                <img src="images/love-story-4.jpg" alt class="img-fluid" />
                            </div>
                        </div>

                        <div class="col-lg-6 text-center text-lg-start">
                            <h4 class="font-alt text-color">We Fall in Love Each Other</h4>
                            <hr class="border-secondary mx-auto mx-lg-0 sep-line" />
                            <p class="text-color-mute">
                                Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s, when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book.
                            </p>
                            <p class="m-0 text-color-mute">
                                There are many variations of passages of Lorem Ipsum available,
                                but the majority have suffered alteration in some form, by
                                injected humour, or randomised words which don't look even
                                slightly believable. If you are going to use a passage of Lorem
                                Ipsum, you need to be sure there isn't anything embarrassing
                                hidden in the middle of text.
                            </p>
                        </div>
                    </div>

                    <div class="carousel-item  carousel-cell align-items-center g-0 justify-content-center justify-content-lg-between row">
                        <div class="col-md-8 col-lg-5 mb-5 mb-lg-0">
                            <div class="img-clip-path clip-love-story position-relative">
                                <img src="images/love-story-5.jpg" alt class="img-fluid" />
                            </div>
                        </div>

                        <div class="col-lg-6 text-center text-lg-start">
                            <h4 class="font-alt text-color">We Decide to Live Together</h4>
                            <hr class="border-secondary mx-auto mx-lg-0 sep-line" />
                            <p class="text-color-mute">
                                Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s, when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book.
                            </p>
                            <p class="m-0 text-color-mute">
                                There are many variations of passages of Lorem Ipsum available,
                                but the majority have suffered alteration in some form, by
                                injected humour, or randomised words which don't look even
                                slightly believable. If you are going to use a passage of Lorem
                                Ipsum, you need to be sure there isn't anything embarrassing
                                hidden in the middle of text.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-love-story"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-love-story"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div> -->
    </div>
</div>