// .event-section {
//     background: rgba(0,0,0,0.2) url(../../assets/img/clientImages/WeddingCeremony-bg.jpg);
//     background-blend-mode: darken;
//     background-repeat: no-repeat;
//     background-position-x: 70%;
//     background-position-y: -10%;
//    }
   
   .section-divider::after{
    content: url(../../assets/img/web-page-asset/section-divider-secondary.svg);
    height: 30px;
    display: block;
    width: 120px;
    margin: 0 auto;
}

