<div class="min-vh-100 padding-section event-section" id="events">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="text-center mt-4 fs-2 fw-bolder text-uppercase text-light">
          The Wedding Event
        </h2>
        <blockquote class="font-alt fs-5 fst-italic text-light text-font-cursive">
          If you have only one smile in you give it to the people you love
        </blockquote>
        <span class="section-divider"></span>
      </div>
    </div>
    <div class="row event justify-content-center">
      <div *ngFor ="let event of events" class="col-12 col-md-6 col-lg-4 p-2">
         <app-event-detail [Event]="event"></app-event-detail>
      </div>

    </div>
  </div>
</div>
