/* You can add global styles to this file, and also import other style files */
/* 
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables"; */

:root {
    --bs-primary: #00ffff;
    --bs-secondary: #f1b671;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
  }
/*   
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
); */

.padding-section{
    padding-bottom: 100px;
    padding-top: 100px;
}



/* 
@import '../node_modules/bootstrap/scss/bootstrap.scss'; */