.hero-section {
    background: rgba(0,0,0,0.5) url(../../assets/img/clientImages/couple-background.jpeg) no-repeat center center fixed;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position-x: -550px;
   }
  
  @media (min-width: 750px) {
    .hero-section {
    background-position-x: -400px;
    }
  }
  @media (min-width: 1100px) {
    .hero-section {
    background-position-x: -50px;
    }
  }
   
   .imp-text-color{
    color:  #c99969;
   }
   .container{
     max-width: 800px;
     box-sizing: border-box ;
   }
   
   .outside {
    position: relative;
      background: #c99969;
      -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
        clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);

  }
  
  .inside {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: url(../../assets/img/clientImages/couple-portrait.jpeg);
    -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    
  }
  .clip-img{
    -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  }
//    .img-clip-path::before{
//        content: '';
//        background-image: url(../../assets/img/web-page-asset/clip-path-hero.png);
//        background-repeat: repeat;
//        background-size: cover;
//        background-position: center center;
//        height: 100%;
//        width: 100%;
//        position: absolute;
//    }
   
   .ampersand{
       height: 35px;
   }
   
   .top-corner::before{
       content: '';
       background-image: url(../../assets/img/web-page-asset/corner-border.svg);
       background-size: cover;
       position: absolute;
       background-repeat: no-repeat;
       height: 80px;
       width: 80px;
       top:0;
       left: 0;
   }
   .top-corner::after{
       content: '';
       background-image: url(../../assets/img/web-page-asset/corner-border.svg);
       background-size: cover;
       position: absolute;
       background-repeat: no-repeat;
       height: 80px;
       width: 80px;
       top: 0;
       right: 0;
       transform: rotate(90deg);
   }
   .bottom-corner::before{
       content: '';
       background-image: url(../../assets/img/web-page-asset/corner-border.svg);
       background-size: cover;
       position: absolute;
       background-repeat: no-repeat;
       height: 80px;
       width: 80px;
       bottom: 0;
       right: 0;
       transform: rotate(180deg);
   }
   .bottom-corner::after{
       content: '';
       background-image: url(../../assets/img/web-page-asset/corner-border.svg);
       background-size: cover;
       position: absolute;
       background-repeat: no-repeat;
       height: 80px;
       width: 80px;
       bottom: 0;
       left: 0;
       transform: rotate(270deg);
   }
   .card{
        background: rgba( 255, 255, 255, 0.15 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 5.5px );
        -webkit-backdrop-filter: blur( 5.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
   }