<div class="vh-100 padding-section hero-section" >
   
    <div class="container">
        <div class="row g-0">
            <div class="col-md-9 col-lg-6 col-xl-5 px-4 py-5">
                <div class=" mb-3 card p-3 " style="width: 20rem;">
                    <h3 class="mx-auto text-center">Together with Their Families </h3>
                         <span class="divider-secondary"></span>
                    <div class="card-body">
                        <div class="img-clip-path position-relative">   
                            <img class="img-fluid" src="../../assets/img/clientImages/allef-vinicius-A5Ri7TSU7wY-unsplash.jpg" alt="">    
                        </div>
                        <h4 class="d-flex justify-content-center align-content-center my-3 ">
                            <span>Yash </span> 
                             <span> <img  class= "ampersand mx-2"src="../../assets/img/web-page-asset/icon-wedding-ampersand.svg" alt=""></span> 
                            <span>Kartiki</span> 
                        </h4>
                        <p class="fs-8 text-center text-muted">Request the honor of your presence at their wedding ceremony and reception.</p>
                    </div>
                    <span  class="top-corner"></span>
                    <span  class="bottom-corner"></span>
 
                </div>
                
            </div>
        </div>
    </div>
</div>

