<div class="min-vh-100 padding-section hero-section" >
   
    <div class="container h-100">
        <div class="row g-0 h-100 align-content-center">
            <div class="col-md-9 col-lg-6 col-xl-5 px-4 py-5 d-flex justify-content-center .justify-content-lg-startalign">
                <div class=" mb-3 card p-3 " style="width: 20rem;">
                    <h3 class="mx-auto text-center text-color">Together with Their Families </h3>
                         <span class="divider-secondary"></span>
                    <div class="card-body">
                         <div class="outside p-2">    
                            <img class="img-fluid clip-img" src="../../assets/img/clientImages/allef-vinicius-A5Ri7TSU7wY-unsplash.jpg" alt="">    
                         </div> 
                         <!-- <div class="outside position-relative">   
                           <div class="inside img-fluid"></div>>    
                        </div>  -->
                        <h4 class="d-flex justify-content-center align-content-center my-3 ">
                            <span class="text-color">Yash </span> 
                             <span> <img  class= "ampersand mx-2"src="../../assets/img/web-page-asset/icon-wedding-ampersand.svg" alt=""></span> 
                            <span class="text-color">Kartiki</span> 
                        </h4>
                        <p class="fs-8 text-center text-color-mute">Request the honor of your presence at their wedding ceremony and reception.</p>
                    </div>
                    <span  class="top-corner"></span>
                    <span  class="bottom-corner"></span>
 
                </div>
                
            </div>
        </div>
    </div>
</div>

